[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "{{project_name_no_spaces}}"
authors = [
    {name = "{{author_name}}", email = "{{author_email}}"},
]
version = "0.0.1"
description = "{{description}}"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "arviz",
    "bibat==0.3.3",
    "cmdstanpy",
    "jupyter",
    "numpy",
    "pandas",
    "pandera >= 0.18.0",
    "pydantic >= 2.0.0",
    "scipy < 1.13",
    "toml",
    {%- if docs_format == 'Sphinx' %}
    "sphinx",
    {%- endif -%}
    "zarr",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "black",
    "ruff",
]

[tool.setuptools]
packages = ["src"]

[tool.black]
line-length = 80
target-version = ['py38']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.pylint.messages_control]
disable = "C0330, C0326"

[tool.pylint.format]
max-line-length = "80"

[tool.ruff]
line-length = 80
[tool.ruff.lint]
select = ["ALL"]
[tool.ruff.lint.isort]
known-first-party = ["bibat", "src"]
[tool.ruff.lint.per-file-ignores]
"tests/*" = ["INP001"]
