arviz>=0.11.4
cmdstanpy>=1.0.1
jupyter
LovelyPlots
numpy
pandas
scipy
sklearn
toml
{% if cookiecutter.create_tests_directory == 'y' %}pytest{% endif %}
{% if cookiecutter.docs_format == 'Sphinx' %}sphinx{% endif %}
{% if cookiecutter.install_python_tooling = 'y'}
black
pandas-stubs
ipython
types-toml
flake8
flake8-bugbear
flake8-docstrings
mypy
python-lsp-server[all]
python-lsp-black
pylsp-mypy
pyls-isort
{% endif %}
